body {
    background-color: rgb(175, 101, 243);
    color: black;
}

.cell{
    background-color: greenyellow;
    padding-top: 30px;
    padding: 30px;
    flex-wrap: nowrap;
    align-items: center;
    height: 100px;
    width: 100px;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 20px;
}


h2 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
}

#board{
    
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    min-height: 100vh;
}

.cell{
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#scoreboard{
    text-align: center;
    font-size: 40px;
}

#turnCounter{
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

button{
    margin: 2%;
    margin-left: 28%;
    align-items: center;
    
}

button {
    background-color: #d37204;
    color: black;
    border: none;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    width: 150px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #fcb045;
    transition: 0.5s;
    cursor: pointer;
}

button:focus, 
button:focus-visible {
    outline: 1px solid greenyellow;
}

button:active {
    background-color: #4EFFDC;
}
